<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<title>Land Registry Portal</title>
	{% load static %}
	<link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
	<link rel='stylesheet' href="{% static 'css/nav_style.css' %}">
	<link rel='stylesheet' href="{% static 'css/land_registry_portal_index_style.css' %}">

</head>
<body>
<body class="hm-gradient">      
	<!--Navbar -->
	<nav class="mb-4 navbar navbar-expand-lg navbar-dark">
		<a class="navbar-brand" href="/land_registry_portal_index/"><img src="{% static 'img/logo.png' %}" width=100px height=40px> &nbsp;&nbsp;Land Registry Portal</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent-4">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/land_registry_portal_index/"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/contact_us/"><i class="fa fa-envelope"></i> Contact</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about_land_registry_portal/"><i class="fa fa-envelope"></i> About</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> Profile </a>
					<div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
						<a class="dropdown-item" href=""><i class="fa fa-user"></i> {{ user }}</a>
						<a class="dropdown-item" href="/logout/">Log out</a>
					</div>
				</li>
				
			</ul>
		</div>
	</nav>
	<!--/.Navbar -->
	
	<!--Main -->

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9" style="overflow-y:hidden">
				<div class="img" style="background-image: url( {% static 'img/land_regisrty_portal_image.jpg' %} ); background-size: 100% 100%;">
				</div>
			</div>
			<div class="col-md-3 text-center">
				<center>
				<div class="groove">
					<a href="/upload_details/" class="ripple-button1"><div class="wave"></div>Property Registration</a>
					&nbsp;&nbsp;
					<a href="/search_property_by_address/" class="ripple-button2"><div class="wave"></div>Search Property By Address</a>
					&nbsp;&nbsp;
					<a href="/search_property_by_user_details/" class="ripple-button2"><div class="wave"></div>Search Property By Owner Name</a>
					&nbsp;&nbsp;
					<a href="/transact/" class="ripple-button3"><div class="wave"></div>Property Transaction</a>
				</div>
				</center>
			</div>
		</div>
	</div>

	<!--/.Main -->

</body>
	<!-- navbar -->
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js'></script>
	<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js'></script>
	<!-- navbar -->
</body>
</html>
