<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<title>Search Property</title>
	{% load static %}
	<link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
	<link rel='stylesheet' href="{% static 'css/nav_style.css' %}">
	<link rel='stylesheet' href="{% static 'css/main_style.css' %}">
	<link rel='stylesheet' href="{% static 'css/search.css' %}">
	
	<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
	<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
	<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link href="https://cdn.datatables.net/1.10.20/css/dataTables.jqueryui.min.css">
	<link href="https://cdn.datatables.net/rowgroup/1.1.1/css/rowGroup.jqueryui.min.css">

</head>
<body>
<body class="hm-gradient">      
	<!--Navbar -->
	<nav class="mb-4 navbar navbar-expand-lg navbar-dark">
		<a class="navbar-brand" href="/land_registry_portal_index/"><img src="{% static 'img/logo.png' %}" width=100px height=40px> &nbsp;&nbsp;Land Registry Portal</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent-4">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/land_registry_portal_index/"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/contact_us/"><i class="fa fa-envelope"></i> Contact</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about_land_registry_portal/"><i class="fa fa-envelope"></i> About</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> Profile </a>
					<div class="dropdown-menu dropdown-menu-right dropdown-cyan" aria-labelledby="navbarDropdownMenuLink-4">
						<a class="dropdown-item" href=""><i class="fa fa-user"></i> {{ user }}</a>
						<a class="dropdown-item" href="/logout/">Log out</a>
					</div>
				</li>
				
			</ul>
		</div>
	</nav>
	
		
<div class="container-fluid">
		<div  style = "margin-top: 2%" ; >
			<form id='search' method='post' action='/search_property_by_user_details/'>
				{% csrf_token %}
				<div class ="row">
					<div class ='col-md-4'>Name <span id='asterisk'>*</span><br>
						<input type='text' id="name" name="name" class="btn1" placeholder="Name" required>
					</div>
					<div class ='col-md-4'>Adhar Number<br>
						<input type='text' id="adhar_number" name="adhar_number" class="btn1" placeholder="Adhar Number" >
					</div>
					<div class ='col-md-4'>E-mail ID<br>
						<input type='text' id="email_id" name="email_id" class="btn1" placeholder="E-mail ID"  >
					</div>
									
				</div>
				
				<div class="row">
					<div class='col-md-4'></div>
					<div class='col-md-4'>
						<input type='submit' id="search_button" class="btn1" value='SEARCH' onclick="return validate_form('search')">
					</div>
					<div class='col-md-4'></div>
				</div>
			</form>
		</div>
</div>

<div class="container-fluid">
	<table id="example" border="1"  style="width:100%">
        <thead>
            <tr>
                <td height="50px" style="background-color:#254441;text-align:center;">Property Name</th><br>
                <td height="50px" style="background-color:#254441;text-align:center;">View Property</th>
                
            </tr>
        </thead>
        <tbody>
			{% for details in property_details %}
				<tr>
					<td id='{{details}}_id'></td>
					<td><a id='{{details}}_view'><button type="button" class="button">View</button></a></td>
					<script>
						var details = '{{details}}';
						var details = details.split(';');
						document.getElementById('{{details}}_id').innerHTML = details[0] + '<br>' + details[1];
						var link = "/view_property_details/?property_name=" + details[0]
						document.getElementById('{{details}}_view').setAttribute("href", link)
					</script>
				</tr>
			
			{% endfor %}
        </tbody>
        
    </table>
</div>



	<!--/.Main -->


</body>
	<!-- navbar -->
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js'></script>
	<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js'></script>
	<!-- navbar -->
	
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
	<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
 	<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>

	<script src="{% static 'js/validation.js' %}"></script>
	
	<script type="text/javascript">
	$(document).ready(function() {
		$('#example').DataTable(
		 {
			order: [[2, 'asc']],
			rowGroup: {
				dataSrc: 2
		  },
		  bAutoWidth: false, 
		  "bPaginate": false,
		 
			aoColumns : [
			 { sWidth: '20%' },
		
			 { sWidth: '10%' }
		 ],

		"bLengthChange": false,
	   
		
		} );
	} )
	</script>

</body>
</html>
